html{
    background-color: rgb(35, 35, 48);
}

*{
    *border: solid 1px white
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    gap: 2rem;
    text-align: center;
}

.titulo h1{
    color: white;
    font-family: "Anton", sans-serif;
    font-size: 2rem;
}

.nav a{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 1rem;
    display: inline-block;
    margin: 1 rem;
    margin: 1 rem;
    border-radius: 5px;
    border: solid 1px rgb(240, 28, 28);
    transition: all 0.3s easeas-in-out;
    margin-block: 0.5rem;
}

li a:hover{
    background-color: rgb(240, 28, 28);
    color: rgb(255, 255, 255);
    transform: scale(1.1) rotate(1deg);
}
.nav ul{
    list-style: none;
    display:flex
    flex-direction: column;
    padding: 1 rem;
    border-radius: 1 rem;
}